body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#board{
    width: 400px;
    height: 400px;
    border: 2px solid purple;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#board img{
    width: 80px;
    height: 80px;
    border: 0.5px solid lightblue;
    box-sizing: border-box;
}
#pieces{
    width: 1053px;
    height: 160px;
    border: 2px solid purple;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#pieces img{
    width: 80px;
    height: 80px;
    border: 0.5px solid lightblue;
    box-sizing: border-box;
}
.sit{
    position: absolute;
}
.sit img{
    width: 300px;
    padding: 15px 0 0 20px;
}

@media screen and (max-width: 768px) {
    .sit {
        position: static;
        display: flex;
        justify-content: center;
    }
    .sit img {
        padding: 10px 0;
    }
    #board {
        margin-top: 10px;
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    #pieces {
        width: 300px;
        height: auto;
        justify-content: center;
    }
    #board img, #pieces img {
        width: 60px;
        height: 60px;
    }
}
